<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    {{> header}}
    <p>Project page should go here</p>
    
    {{> footer}}
</body>
</html>